<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-toolbar>
    <ion-input [(ngModel)]="usuario.username" placeholder="Usuario"></ion-input>
    <ion-input [(ngModel)]="usuario.password" type="password" placeholder="Contraseña"></ion-input>
    <ion-button expand="block" (click)="login()" id="open-loading">Iniciar sesión</ion-button>
  </ion-toolbar>

</ion-content>

<ion-loading trigger="open-loading" message="Bienvenido" duration="1000"></ion-loading>