<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button routerLink="/login">
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Tienda Deportiva</ion-title>
    <ion-buttons slot="end">
      <!--     <ion-button routerLink="/login">
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button> -->
      <ion-button routerLink="/registro">
        <ion-icon slot="icon-only" name="person-add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-popover trigger="popover-button" [dismissOnSelect]="true">
  <ng-template>
    <ion-content>
      <ion-list>
        <ion-item [button]="true" [detail]="false">
          <ion-button [routerLink]="['/login']">
            Iniciar sesión
          </ion-button>
        </ion-item>
        <ion-item [button]="true" [detail]="false">
          <ion-button [routerLink]="['/registro']">
            Registro
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>

<ion-content>
  <ion-searchbar placeholder="Buscar productos..." (ionInput)="buscar($event)"></ion-searchbar>
  <ion-list>
    <ion-card *ngFor="let producto of filtrarLista()" style="text-align: center;">
      <ion-card-header>
        <ion-card-title>{{ producto.nombre }}</ion-card-title>
        <ion-card-subtitle>{{ producto.precio | currency:'USD' }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        {{ producto.descripcion }}
      </ion-card-content>
      <ion-button color="primary" (click)="comprar(producto)">Comprar</ion-button>
    </ion-card>
  </ion-list>
</ion-content>